.claim-file-icon {
  width: 1.5em;
  height: 1.5em;
  display: inline-block;
  background-size: 1.5em;
  background-repeat: no-repeat;
  padding: 0.1em;
  &.csv {
    background-image: image-url("claim-file-icon-csv.png");
  }
  &.rtf {
    background-image: image-url("claim-file-icon-rtf.png");
  }
  &.pdf {
    background-image: image-url("claim-file-icon-pdf.png");
  }
  &.problem {
    background-image: image-url("claim-file-icon-problem.png");
  }
  &.doc, &.docx {
    background-image: image-url("claim-file-icon-word.svg");
  }
  &.jpg,&.jpeg,&.png,&.gif,&.bmp,&.tiff {
    background-image: image-url("claim-file-icon-image.svg");
  }
  &.xls,&.xlsx {
      background-image: image-url("claim-file-icon-excel.svg");
  }
  &.ppt, &.pptx {
    background-image: image-url("claim-file-icon-powerpoint.svg");
  }
}
